html {
  font-size: 62.5%;
}

.date-time {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-around;
}

.cancel-btn {
  margin: 0px 16px;
  width: 60px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}

.labelDate {
  width: 49px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  margin-bottom: 6px !important;
}

.date-picker {
  /* width: 168px; */
  height: 34px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 1);
  margin-top: 6px !important;
}

.date-picker::placeholder {
  position: absolute;
  left: 20px;
  width: 91px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}

.date-picker {
  position: absolute;
  left: 20px;
  width: 91px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}

.listBox {
  /* position: relative; */
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  /* border: 1px solid red; */
  /* width: 379px; */
  height: 100%;
  position: relative;
  width: 368px;
  /* height: 311px;
  overflow-y: scroll; */
  left: 276px;
  margin-top: 5%;
  margin-left: 5%;
  top: calc(50% - 311px / 2 - 399.5px);
}
.box {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(237, 247, 252, 1);

  position: relative;
  width: 368px;
  height: 311px;
  left: 276px;
  margin-top: 5%;
  margin-left: 5%;
  top: calc(50% - 311px / 2 - 399.5px);
}
.task-header {
  /* width: 379px; */
  height: 35px;
  display: flex;
  /* border-bottom: 1px solid red; */
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 11px;

  border-radius: 2px;
  background: rgba(249, 249, 250, 1);
  justify-content: space-between;
}
.task-header > p {
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 9px;
  width: 54px;
  height: 24px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  letter-spacing: 1px;
  color: #31354a;
}

.task-header p > span {
  margin-left: 9px;
  width: 22px;
  height: 24px;
  overflow: hidden;
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
  letter-spacing: 1px;
  color: #a2a4aa;
}
.add-section {
  /* border-left: 1px solid red; */
  border-left: 1px solid #e5e5e5;
}

.add-icon {
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  margin: 10px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.labels {
  width: 119px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  margin-left: 5px;
}

input {
  width: 342px;
  height: 31px;
  margin: 11px 5px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 11px;
}

input[value] {
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  /* color:#262E39; */
}

::placeholder {
  /* width: 76px; */
  padding: 0 1px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  /* color: #262e39; */
}

input[type="text"] {
  /* width: 76px; */
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}

.date-time {
  display: flex;
  justify-content: space-around;
}

.date {
  width: 168px;
  height: 34px;
}

.time {
  width: 168px;
  cursor: pointer;
}

.task-set {
  padding: 5px;
}

.cancel-btn {
  /* top: 480px;
	left: 492px; */
  width: 60px;
  height: 26px;
  overflow: hidden;
  font-family: " Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  cursor: pointer;
  border: none;
  background-color: rgba(237, 247, 252, 1);
}

.example-custom-input {
  background: url("../public/calender.svg") no-repeat right;
  background-size: 20px;
  width: 240px;
  height: 24px;
}

.save-btn {
  /* top: 474px;
	left: 552px; */
  margin-right: 13px;
  margin-left: 5px;
  width: 80px;
  height: 29px;
  -ms-border-radius: 14.5px;
  -o-border-radius: 14.5px;
  -moz-border-radius: 14.5px;
  -webkit-border-radius: 14.5px;
  border-radius: 14.5px;
  border: 1px solid #104fcc;
  background: rgba(20, 99, 255, 1);
  color: #ffffff;
  cursor: pointer;
}

.btn-section {
  margin-top: 21px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 1);
  margin-left: 12px;
  align-items: center;
}

img {
  margin-left: 14px;
  margin-top: 13px;
  width: 27px;
  height: 27px;
  -ms-border-radius: 13.5px / 13.5px;
  -o-border-radius: 13.5px / 13.5px;
  -moz-border-radius: 13.5px / 13.5px;
  -webkit-border-radius: 13.5px / 13.5px;
  border-radius: 13.5px / 13.5px;
  background: rgba(90, 153, 227, 1);
}

.added-list {
  display: flex;
  justify-content: space-between;
}

.image-task-list {
  display: flex;
  justify-content: space-around;
}

.sub-list {
  margin: 12px 10px;
  align-items: center;
  flex: none;
}

.task-date {
  margin: 0em;
  padding: 0em;
  width: 73.5px;
  height: 20.5px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 11px;
  text-align: left;
  line-height: 13px;
  color: #d0021b;
}

.task-msg {
  padding: 0em;
  margin: 0em;
  /* top: 259px;
	left: 327px; */
  width: 78px;
  /* height: 26px; */
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  /* font-size: medium; */
}

.edit {
  display: flex;
  justify-content: space-evenly;
  /* margin-right: 18px;
  margin-top: 5px; */
  margin: 10px 18px;
  /* width: 16px;
	height: 16px; */
  background: rgba(255, 255, 255, 1) !important;
}

.date-side {
  position: relative;
  align-items: center;
  justify-content: center;
}

.dateicons {
  position: absolute;
  top: 30px;
  left: 9px;
  z-index: 5;
}

.ant-picker .ant-picker-input {
  display: inline-flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.anticon {
  color: #262e39;
}

.ant-picker .ant-picker-input > input[title] {
  margin: 0 10px;
}

.css-1dimb5e-singleValue {
  margin-left: 11px;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  font-family: "Segoe UI";
  color: #262e39;
}

.task-description[type="text"] {
  padding-left: 11px;
  width: 330px;
}

.ant-picker-dropdown .ant-picker-time-panel .ant-picker-content {
  width: 166px;
}

.edit-icons{
  margin: 0 5px;
  cursor: pointer;

}
