html {
  font-size: 62.5%;
}

body {
  background-color: whitesmoke;
}

.layout {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 1fr;
}
.sidebar {
  width: 256px;
  height: 840px;
  background: rgba(16, 24, 64, 1);
  /* float: left; */
}

.text-part {
  padding-left: 22px;
}

.text-description {
  /* height: 26px; */
  width: 116px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: italic;
  text-align: left;
  line-height: 16px;
  color: #767986;
}

a {
  width: 87px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #3366ff;
  text-decoration: none;
  margin-bottom: 9px;
  padding: 0em;
}

.select-box {
  position: relative;
  z-index: 0;
}

.select-icon {
  position: absolute;
  top: 25%;
  right: 4%;
  z-index: 1;
}

.head-text {
  /* width: 83px; */
  /* height: 50px; */
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  line-height: 30px;
  color: #31354a;
  padding: 0em;
  margin-bottom: 13px;
}

.navbar {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 1);
}

.date-time {
  /* margin-bottom: 11px; */
  padding-bottom: 11px;
  display: flex;
  justify-content: space-around;
}

.cancel-btn {
  margin: 0px 16px;
  width: 60px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}

select {
  -webkit-appearance: none;
  appearance: none;
  width: 166px;
  height: 34px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 1);
  margin-top: 6px;
}

.dropdown {
  width: 166px;
  height: 34px;
  position: relative;
}

.time-icon {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 10%;
}

.labelDate {
  width: 49px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  margin-bottom: 6px !important;
}

.date-picker {
  /* width: 168px; */
  height: 34px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 1);
  margin-top: 6px !important;
}

.date-picker::placeholder {
  position: absolute;
  left: 20px;
  width: 91px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}

.no-list {
  height: 35px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  /* position: relative; */
  width: 368px;
  /* left: 276px; */
  margin-top: 52px;
  top: calc(50% - 311px / 2 - 399.5px);
}
.task-box {
  padding: 0em;
  margin-top: 52px;
}
.listBox {
  background-color: white;
  /* position: relative; */
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  height: 100%;
  width: 368px;
  margin-top: 52px;
  /* top: calc(50% - 311px / 2 - 399.5px); */
}

.box {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(237, 247, 252, 1);
  /* position: relative; */
  width: 368px;
  height: 100%;
  left: 276px;
  margin-top: 52px;
  /* margin-left: 5%; */
  top: calc(50% - 311px / 2 - 399.5px);
}

.task-header {
  /* width: 379px; */
  height: 35px;
  display: flex;
  /* border-bottom: 1px solid red; */
  border-bottom: 1px solid #e5e5e5;
  /* margin-bottom: 11px; */
  border-radius: 2px;
  background: rgba(249, 249, 250, 1);
  justify-content: space-between;
}

.task-header > p {
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 9px;
  width: 54px;
  height: 24px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  letter-spacing: 1px;
  color: #31354a;
}

.task-header p > span {
  margin-left: 9px;
  width: 22px;
  height: 24px;
  overflow: hidden;
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
  letter-spacing: 1px;
  color: #a2a4aa;
}
.add-section {
  /* border-left: 1px solid red; */
  border-left: 1px solid #e5e5e5;
}

.add-icon {
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  margin: 10px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.labels {
  width: 119px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  margin-left: 5px;
}

input {
  width: 342px;
  height: 31px;
  margin: 11px 5px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 11px;
}

input[value] {
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  /* color:#262E39; */
}

::placeholder {
  /* width: 76px; */
  padding: 0 1px;
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  /* color: #262e39; */
}

input[type="text"] {
  /* width: 76px; */
  height: 26px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}

.date-time {
  display: flex;
  justify-content: space-around;
}

.date {
  width: 168px;
  height: 34px;
}

.time {
  width: 168px;
  cursor: pointer;
}

.task-set {
  margin-top: 11px;
  padding: 5px;
}

.cancel-btn {
  /* top: 480px;
	left: 492px; */
  width: 60px;
  height: 26px;
  overflow: hidden;
  font-family: " Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  cursor: pointer;
  border: none;
  background-color: rgba(237, 247, 252, 1);
}

.example-custom-input {
  background: url("../public/calender.svg") no-repeat right;
  background-size: 20px;
  width: 240px;
  height: 24px;
}

.save-btn {
  /* top: 474px;
	left: 552px; */
  margin-right: 13px;
  margin-left: 5px;
  width: 80px;
  height: 29px;
  -ms-border-radius: 14.5px;
  -o-border-radius: 14.5px;
  -moz-border-radius: 14.5px;
  -webkit-border-radius: 14.5px;
  border-radius: 14.5px;
  border: 1px solid #104fcc;
  background: rgba(20, 99, 255, 1);
  color: #ffffff;
  cursor: pointer;
}

.btn-section {
  margin-top: 21px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 1);
  margin-left: 12px;
  align-items: center;
}

img {
  margin-left: 14px;
  margin-top: 13px;
  width: 27px;
  height: 27px;
  -ms-border-radius: 13.5px / 13.5px;
  -o-border-radius: 13.5px / 13.5px;
  -moz-border-radius: 13.5px / 13.5px;
  -webkit-border-radius: 13.5px / 13.5px;
  border-radius: 13.5px / 13.5px;
  background: rgba(90, 153, 227, 1);
}

.added-list {
  display: flex;
  justify-content: space-between;
}

.image-task-list {
  display: flex;
  justify-content: space-around;
}

.sub-list {
  margin: 12px 10px;
  align-items: center;
  flex: none;
}

.task-date {
  margin: 0em;
  padding: 0em;
  width: 73.5px;
  height: 20.5px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 11px;
  text-align: left;
  line-height: 13px;
  color: #d0021b;
}

.task-msg {
  padding: 0em;
  margin: 0em;
  /* top: 259px;
	left: 327px; */
  width: 78px;
  /* height: 26px; */
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
  color: #262e39;
  /* font-size: medium; */
}

.edit {
  display: flex;
  justify-content: space-evenly;
  /* margin-right: 18px;
  margin-top: 5px; */
  margin: 10px 18px;
  /* width: 16px;
	height: 16px; */
  background: rgba(255, 255, 255, 1) !important;
}

.date-side {
  position: relative;
  align-items: center;
  justify-content: center;
}

.dateicons {
  position: absolute;
  top: 30px;
  left: 9px;
  z-index: 5;
}

.ant-picker .ant-picker-input {
  display: inline-flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.anticon {
  color: #262e39;
}

.ant-picker .ant-picker-input > input[title] {
  margin: 0 10px;
}

.css-1dimb5e-singleValue {
  margin-left: 11px;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  font-family: "Segoe UI";
  color: #262e39;
}
.css-1f5a0ta-placeholder {
  margin-left: 22px;
}

.task-description[type="text"] {
  padding-left: 11px;
  width: 330px;
}

.ant-picker-dropdown .ant-picker-time-panel .ant-picker-content {
  width: 166px;
}

.dropdown .css-1fdsijx-ValueContainer {
  margin-left: 25px;
  /* margin-top: 2px; */
}
.css-qbdosj-Input {
  margin-bottom: 10px;
}

.css-1f5a0ta-placeholder {
  margin-top: 5px;
}

.css-1nmdq5-menu {
  overflow-y: scroll;
}

.edit-icons {
  margin: 0 5px;
  cursor: pointer;
}

.ant-picker-footer {
  display: none;
}

.ant-picker-header-super-next-btn {
  display: none;
}

.ant-picker-header-super-prev-btn {
  display: none;
}

.time-piker {
  position: relative;
  margin-top: 6px;
  width: 155px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 1px;
}

.time-piker::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
}

.time-piker::before {
  content: "Time:";
  margin-right: 0.2em;
  color: #9d9d9d;
  opacity: 0;
}
input[type="time"] {
  width: 155px;
  height: 34px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #262e39;
}
.ant-picker-cell-inner {
  border-radius: 50% !important;
}

.ant-picker-cell-inner::before {
  border-radius: 50% !important;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-content th {
  width: 26px;
  height: 23.5px;
  overflow: hidden;
  font-family: "Segoe UI";
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  color: #9b9b9b;
}

/* .ant-picker-dropdown .ant-picker-header >button{
  display: ;
} */

hr{
  position: relative;
  top: 6px;
  border: 1px solid #e5e5e5;
	background:rgba(255,255,255,1);
}